* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}

.medsos {
    padding: 5px 0;
    background-color: #5da1c0;
}
.medsos a {
    color: white;
}
.medsos ul li{
    display: inline-block;
    padding-right: 10px;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.container::after {
    content:'';
    display: block;
    clear: both;
}
.head_bar {
    width:  100%;
    line-height: 70px;
}
.head_bar h1{
    width: 40%;
    float: left;
    font-size: 35px;
    color: #4267B6;
}
.head_bar h1 a:visited{
    color: #4267B6;
}
.head_bar ul {
    text-decoration: none;
    float: right;
    width: 40%;
    background-color: white;
}
.head_bar ul li {
    display: inline;
    float: left;
    width: 25%;
    text-align: center;
    padding: auto;
}
.head_bar ul li a:hover{
    display: block;
    background-color:  #50a7c27c;
}
.head_bar a:visited{
    color: #4267B6;
}

.active {
    background-color: #5da1c0;
    color: white;
}
.active a:visited {
    color: white;
}
.banner {
    height: 500px;
}
.banner img {
    height: auto;
    width: 500px;
    float: right;
}
.txt-web{
    float: left;
    margin-top: 200px;
    box-sizing: border-box;
    width: 50%;
    height: 60%;
    border: 4px solid #4267B6;
    padding: 20px 12px;
    margin: 125px auto;
    color:rgba(0, 0, 0, 0.705);
}
.txt-web p {
    padding-top: 15px;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    font-weight: lighter;
}
.txt-web h1 {
    font-size: 35px;
    font-weight: bold;
    color:  #5da1c0;
}
span{
    font-size: 50px;
}
.space{
    padding-bottom: 100px;
}
.intro {
    justify-content: center;
    margin: auto;
    background-image: url(https://img.freepik.com/free-vector/polygonal-abstract-background-design_23-2147493966.jpg?size=664&ext=jpg);
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
}
.text_intro {
    text-align: center;
    padding: 10px;
    border: 4px solid white;
    width: 50%;
    margin: auto;
    color:  #4267B6;
}
h3 {
    padding: 25px 0;
    font-size: 30px;
    text-align: center;
    color:  #4267B6;
}
.about_body p {
    line-height: 30px;
    text-align: justify;
    color: rgb(58, 57, 57);
}
.boxes {
    margin: 25px auto;
}
.box_service {
    width: 25%;
    float: left;
    box-sizing: border-box;
}
.boxes::after {
    content: '';
    display: block;
    clear: both;
}
.service_icon {
    box-sizing: border-box;
    border: 1px solid;
    height: 70px;
    width: 70px;
    color: #4267B6;
    border-radius: 50%;
    align-items: center;
    margin: auto;
    line-height: 70px;
    text-align: center;
}
.box_service h4 {
    text-align: center;
    padding: 10px 0;
    color: rgb(58, 57, 57);
}
footer {
    text-align: center;
    align-items: center;
    background-color: #4267B6;
    color: aliceblue;
    height: 50px;
    line-height: 50px;
}
.edt_about {
    width: 100%;
    margin: 20px auto;
}
.about_img {
    width: 40%;
    float: left;
    margin: 10px auto;
}
.edt_about {
    width: 100%;
}
.edt_about span {
    font-size: larger;
    font-weight: bold;
}
.edt_about img {
    width: 40%;
    float: left;
}
.about_prg {
    width: 55%;
    float: right;
}
.about_prg2 {
    margin-bottom: 20px;
}
.bag_service {
    height: max-content;
}
.bag_service .medsos{
    height: 10%;
}
.boxes_service {
    margin: 100px auto;
}
.foot_service {
    margin-top: 180px;
}
.list_contact  {
    width: 100%;
}
.contact ul li{
    width: 33%;
    display: inline-block;
    align-items: center;
    text-align: center;
    line-height: 200px;
}
.list_contact a{
    border: 3px solid;
    border-radius: 10px;
    border-color: #4267B6;
}
.edge a{
    padding: 20px;
    
}
.mid a{
    padding: 20px 50px;
}
iframe{
    width: 100%;
    margin: 10px auto 60px auto;
    display: flex;
    align-items: center;
}
.bg_loader {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}
.loader {
    border: 10px solid;
    height: 50px;
    width: 50px;
    border-radius:50% ;
    border-left-color: #4267B6;
    border-top-color: white;
    border-right-color:#4267B6 ;
    border-bottom-color: #4267B6;
    animation: muter infinite linear 0.3s;
}
@keyframes muter {
    100% {
        transform: rotate(360deg);
    }
}
@media only screen and (max-width: 768px){
    .container{
        width: 90%;
    }
    .head_bar h1 {
        width: auto;
        float: none;
        text-align: center;
    }
    .head_bar ul {
        width: auto;
        float: none;
        align-items: center;
    }
    .txt-web {
        width: auto;
        height: auto;
        margin: auto;
    }
    .banner img {
        height: auto;
        float: none;
        align-items: center;
        width: 100%;
    }
    .intro {
        height: 100%;
        width: 100%;
        padding: auto;
        margin: auto;
    }
    .text_intro {
        width: auto;
        height: auto;
        margin: auto;
        padding: auto;
    }
    h3 {
        padding: auto;
    }
    h4 {
        font-size: 70%;
    }
    .service_icon {
        width: 70%;
        height: 70%;
        line-height: auto;
    }
    footer {
        height: auto;
    }
    .about_prg {
        float: none;
        width: auto;
        text-align: center;
    }
    .edt_about img {
        float: none;
        align-items: center;
        width: 100%;
    }
    .contact ul li {
        width: 100%;
        padding: auto;
        margin: auto;
    }
}
/* @media only screen and (max-width: 1024px){
    .container {
        width: 90%;
    }
    .banner img {
        width: 50%;
    }
    .txt_web{
        width: 50%;
    }
    .edt_about img {
        width: 100%;
        height: 100%;
    }
    .about_body p {
        align-items: center;
        float: none;
        width: ;
    }
}
*/
